## Workflow State
- stage: {{ state.workflow.stage }}
- availability_status: {{ state.workflow.availability_status }}
- confirmation_status: {{ state.workflow.confirmation_status }}
- details_shared: {{ state.workflow.details_shared }}
- blocking_issue: {{ state.workflow.blocking_issue or "none" }}
- selected_slot_note: {{ state.workflow.selected_slot_note or "none" }}
